Body {
    background-color: beige;
    text-align: center;
    font-family:'Lobster', cursive;
}
.heading{
    background: url('../images/spaceship.jpg');

}
.heading  a{
    text-decoration: none;
    color:darkblue;
    text-shadow: 5px 5px 5px #000444;
}
.jumbotron-fluid{
    background-color: lightblue;


}

.jumbotron-fluid a{
    text-decoration: none;
text-align: center;

}
.card-img-top{
    height: 150px;
    width:200px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
.card{
padding:25px;
background-color: rgb(80, 173, 204);
}

