Body {
    background-color: beige;
    text-align: center;
    font-family: 'Lobster', cursive;
    margin: 0;
    padding: 0;
}

.heading {
    background: url('../images/spaceship.jpg');
    background-position: center bottom;
    background-attachment: fixed;
}

.heading a {
    text-decoration: none;
    color: #440606;
    text-shadow: 5px 5px 5px #12197a;
}

.jumbotron-fluid {
    background-color: lightblue;
}

.jumbotron-fluid h5,
a {
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}

.card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    height: 6em;
}

.card {
    padding: 10px;
    background-color: #50adcc;
    width: 18em;
    height: 20em;
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .card {
        width: 10em;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .card {
        width: 10em;
        background-color: green;
    }
    .card p {
        display: none;
        margin: 10px
    }
}

@media (max-width: 575.98px) {
    .card {
        padding: 5px;
        background-color: #50adcc;
        width: 7em;
        height: 10em;
        margin: 5px;
    }
    .card-text {
        display: none;
        font-size: 50%;
    }
    .card-title {
        display: none;
    }
    .btn {
        font-size: 5px;
    }
}