Body {
    background-color: beige;
    text-align: center;
    font-family:'Lobster', cursive;
}
.heading{
    background: url('../images/spaceship.jpg');

}
.heading  a{
    text-decoration: none;
    color:darkblue;
    text-shadow: 5px 5px 5px #000444;
}
main{
    background-color: lightblue;



main a{
    text-decoration: none;
}